# Practica 1 - An√°lisis Exploratorio (EDA) de *Iris*

## 1. Setup

In [ ]:
import seaborn as sns
import sys, pandas as pd, seaborn as sns, matplotlib.pyptloy as plt

print(sys.version)
print(pd.__version__, sns.__version__, matplotlib.__version__)
from pathlib import Path

3.13.5 (tags/v3.13.5:6cb20a2, Jun 11 2025, 16:15:46) [MSC v.1943 64 bit (AMD64)]

NameError: name 'matplotlib' is not defined

In [ ]:
import pandas as pd
url = 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv'
df = pd.read_csv(url)
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa


## 2. ü™ª Iris (info)

El dataset Iris es un cl√°sico de la clasificaci√≥n supervisada, popularizado por R. A. Fisher. Su objetivo es predecir la especie de una flor a partir de medidas morfol√≥gicas. 

Contiene 150 observaciones divididas equitativamente en tres especies: *setosa, versicolor, virginica*, y cuatro variables num√©ricas medidas en cent√≠metros: *sepal length, sepal width, petal length y petal width*. La variable objetivo es la especie. No presenta valores faltantes, y es conocido que setosa es linealmente separable, mientras que versicolor y virginica muestran mayor solapamiento.

Este conjunto se utiliza para EDA y modelos base por su tama√±o compacto y balance de clases. 

> Asumimos muestras i.i.d. y mediciones consistentes en cm. 

Al modelar, es recomendable estandarizar si se emplean m√©todos basados en distancias y evaluar con matriz de confusi√≥n (especial atenci√≥n a versicolor vs virginica). 

Fuentes de referencia: UCI Machine Learning Repository y Kaggle, donde se detalla la descripci√≥n de variables, unidades y descarga del dataset.

## 3. Preguntas de negocio
### Preguntas propias

1. ¬øCu√°l es la especie con p√©talo m√°s largo?
2. ¬øHay alguna relaci√≥n con el largo del sepal y el del p√©talo?
3. ¬øCu√°l es la especie con promedio de sepal m√°s ancho?

# 4. Carga de datos

In [ ]:
df_sns = sns.load_dataset('iris')
df_sns.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
from sklearn.datasets import load_iris
import pandas as pd
data = load_iris(as_frame=True)
df_sklearn = data.frame
df_sklearn.rename(columns={'target': 'species'}, inplace=True)
df_sklearn.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [ ]:
if df.equals(df_sns):
  print("Las bases 1 y 2 son iguales")
else:
  print("Las bases 1 y 2 son distintas")

if df_sklearn.equals(df_sns):
  print("Las bases 2 y 3 son iguales")
else:
  print("Las bases 2 y 3 son distintas")

Las bases 1 y 2 son iguales
Las bases 2 y 3 son distintas

## 5. Chequeos b√°sicos y data dictionary

In [ ]:
df.shape, df.dtypes, df.isna().sum()
display(df.describe(include='all').T)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
sepal_length,150.0,NaN,NaN,NaN,5.843333,0.828066,4.3,5.1,5.8,6.4,7.9
sepal_width,150.0,NaN,NaN,NaN,3.057333,0.435866,2.0,2.8,3.0,3.3,4.4
petal_length,150.0,NaN,NaN,NaN,3.758,1.765298,1.0,1.6,4.35,5.1,6.9
petal_width,150.0,NaN,NaN,NaN,1.199333,0.762238,0.1,0.3,1.3,1.8,2.5
species,150,3,setosa,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_sns.shape, df_sns.dtypes, df_sns.isna().sum()
display(df_sns.describe(include='all').T)

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
sepal_length,150.0,NaN,NaN,NaN,5.843333,0.828066,4.3,5.1,5.8,6.4,7.9
sepal_width,150.0,NaN,NaN,NaN,3.057333,0.435866,2.0,2.8,3.0,3.3,4.4
petal_length,150.0,NaN,NaN,NaN,3.758,1.765298,1.0,1.6,4.35,5.1,6.9
petal_width,150.0,NaN,NaN,NaN,1.199333,0.762238,0.1,0.3,1.3,1.8,2.5
species,150,3,setosa,50,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_sklearn.shape, df_sklearn.dtypes, df_sklearn.isna().sum()
display(df_sklearn.describe(include='all').T)

                   count      mean       std  min  25%   50%  75%  max
sepal length (cm)  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal width (cm)   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal length (cm)  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal width (cm)   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5
species            150.0  1.000000  0.819232  0.0  0.0  1.00  2.0  2.0

In [ ]:
from pandas.api.types import is_string_dtype

if is_string_dtype(df['species']):
    df['species'] = df['species'].astype('category')


desc = df.describe()
corr = df.select_dtypes('number').corr()
print(desc); print(corr)

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000
              sepal_length  sepal_width  petal_length  petal_width
sepal_length      1.000000    -0.117570      0.871754     0.817941
sepal_width      -0.117570     1.000000     -0.428440    -0.366126
petal_length      0.871754    -0.428440      1.000000     0.962865
petal_width       0.817941    -0.366126      0.962865     1.000000